.patients-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.patients-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.assign-table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
