.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.calendar-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
}
