.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
  width: 10%;
  position: fixed;
  top: 15vh;
  left: 0%;
  z-index: 100;
  background-color: inherit;
}

.menu-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  border-radius: 50px;
  width: 150%;
  height: 70vh;
  gap: 15%;
}

.menu-item-large {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 3vh;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.w-menu-item{
  transition: color 0.3s ease-in-out;
}
.w-menu-item:hover{
  background-color: inherit !important;
  color: rgb(124, 124, 251) !important;
}
.w-menu-item-text{
  height: 100%;
  font-size: 1.3rem;
  flex-grow: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-icon, .w-icon svg{
  width: 1.3rem;
  height: 1.3rem
}