.loginForm {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    all: unset;
    font-size: 36px;
}

.login {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 5px;
}

.input {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.buttons {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.button {
    width: 8vw;
    border-radius: 5px;
    font-size: larger;
    padding: 5px;
}